extends base_layout

block content
    h2 URL Shortner

    form(action='/', method='POST')
        p
            | Enter your Long URL: 
            input(type='text', name='longURL', value='')
            br
            | If you want this to be password protected
            | Enter your password, else leave blank: 
            input(type='password', name='password', value='')
        br 
        label Click submit to create a short URL
        br
        input(type='submit', value='Submit')

    h3 #{shortUrl}
         