extends base_layout

block content
    h2 URL Shortner

    form(action='/', method='POST')
        p
            | Enter your Long URL: 
            | (Tip: Please use complete URL including http or https, else may not behave as expected) 
            br
            input(type='text', name='longURL', value='')
        br 
        label Click submit to create a short URL
        br
        input(type='submit', value='Submit')

    h3 #{shortUrl}
         